<div class="ui grid">
    <div class="eight wide column">
        <h1>{{ product.name }}</h1>
    </div>
    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui large image"></div><br>
            <b>Commentaires :</b><br>
            {{ product.comments }}
        </div>
        <div class="eight wide column">
            Prix : {{ product.price }} €<br>
            {{ product.promo }} Promotion<br>
        </div>
        <a class="tiny ui olive button"><i class="shopping basket icon"></i>Panier</a>
    </div>
</div>
